:root{
    --text-color:#353131;
    --light-mode-text:#353131;
    --light-mode-bg:#fff;
    --dark-mode-text:#fff;
    --dark-mode-bg:#353131;
}

/*everything but main and his son*/
*:not(main *){
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin-top: 35px;

    .left-col,
    .right-col{
        width: calc((100vw / 12) * 3);
    }
    .center-col{
        margin: auto;
        margin-bottom: 0;
        width: calc((100% / 12) * 6);
    }
}

.dark-mode{
    background-color: var(--dark-mode-bg);
    color: var(--dark-mode-text);

    a{
        text-decoration: none;
        color: var(--dark-mode-text);
        &:active,
        &:visited{
            color: var(--dark-mode-text);
        }
    }
}

.light-mode{
    background-color: var(--light-mode-bg);
    color: var(--light-mode-text);
    a{
        text-decoration: none;
        color: var(--light-mode-text);
        &:active,
        &:visited{
            color: var(--light-mode-text);
        }
    }
}

img{
    max-width: 100%;
}

#ebooks-menu > h3{
    margin: 7px auto;
    max-width: 500px;
    min-width: 200px;
}

#epub-list{
    margin: auto;
    max-width: 500px;
    min-width: 200px;
    list-style-type: none;
    border: 2px solid grey;
    box-shadow: 2px 5px black;
    padding: 20px 15px;
    li{
        display: flex;
        justify-content: space-between;
    }
}

#ebook-list-fixed{
    position: fixed;
    z-index: 100;
    top:35px;
    left:calc(100vw / 24);
}

#theme-toggles-fixed{
    position: fixed;
    z-index: 100;
    top:35px;
    right:calc(100vw / 24);
}

.nice-border{
    border: 2px solid grey;
    box-shadow: 2px 5px black;
}

.epub-titles{
    padding: 5px 10px;
    text-decoration: none;
}

.relative{
    position: relative;
}

#prev-page-fixed-arrow,
#next-page-fixed-arrow{
    position: fixed;
    top:45vh;
    font-size: 66px;
    text-decoration: none;
}

#prev-page-fixed-arrow{
    left:calc(100vw / 12);
    
}

#next-page-fixed-arrow{
    right:calc(100vw / 12);
}

#completion-percentage,
#page-indicator{
    position: fixed;
    z-index: -1;
    bottom:50px;
    scale:1;
    text-decoration: none;
}

#completion-percentage{
    left:calc(100vw / 12);
}

#page-indicator{
    right:calc(100vw / 12);
}

/* not used atm */
.pages-navigation{
    /* currently not used */
    justify-content: center;
    width: 300px;
    position: fixed;
    bottom: 7px;
    left: 50vw;
    transform: translate(-50%);
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    .current-page{
        transform: scale(1.2);
    }
}

