<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title id="bookname">{{page_title}}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    {% set theme_class = 'light-mode' if theme else 'dark-mode' %}
    <body class="{{theme_class}}">
        {% include './components/theme-toggles.html' %}
        {% block body %}{% endblock %}
        <script src="{{url_for('static', filename='script/scrollbarWatcher.js')}}"></script>
    </body>
</html>