<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>YEA</title>
    </head>
    <body>
        <!-- {{book}} -->
        {% for element in book %}
            {% if element.data %}
                {% if element.is_image %}
                    <img src="data:image/jpeg;base64,{{element.data}}">
                {% else %}
                    {{element.data | safe}}
                {% endif %}
            {% endif %}
        {% endfor %}
    </body>
</html>