<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ebook_name}}</title>
    <style>
        body{
            margin-top: 200px;
            padding-left: calc(100vw / 4);
            padding-right: calc(100vw / 4);
            font-family: serif;
        }
        img{
            max-width: 100%;
        }
    </style>
    </head>
    <body>
        {{ebook | safe}}
    </body>
</html>