{% extends "base.html"%}
{% block body %}
{% include './components/back-to-menu.html' %}
{% if page_content %}
<main>
    <div class="container">
        <div class="column left-col">
            {% if page_index %}
            {% set prev = page_index - 1%}
            <a 
                id="prev-page-fixed-arrow"
                href="{{
                    url_for('read_ebook',
                    ebook_name=page_title,
                    page_index=prev,
                    scroll_y=0) 
                }}">
                &xlarr;
            </a>
            {% endif %}
        </div>
        <div class="column center-col">
            {{page_content | safe }}
        </div>
        <div class="column right-col">
            {% if page_index < page_count - 1 %} {% set next=page_index + 1 %} 
            <a 
                id="next-page-fixed-arrow"
                href="{{
                    url_for('read_ebook',
                    ebook_name=page_title,
                    page_index=next,
                    scroll_y=0) 
                }}">
                &xrarr;
            </a>
            {% endif %}
        </div>
    </div>
    
</main>
<footer>
    <div class="container">
        <div class="column left-col">
            {{ page_index * 100 / page_count |round(0)|int}}%
        </div>
        <div class="column center-col"></div>
        <div class="column right-col">
            {{ page_index }} / {{ page_count }}
        </div>
    </div>
</footer>
{% endif %}

{% endblock %}