{% extends "base.html"%}
{% block body %}
<body>
    <div id="ebook-list-fixed" class="nice-border">
        <a class="epub-titles" href="{{url_for('index')}}">Back to Ebook List</a>
    </div>
    {% if page_content %}
        <main>
            {{page_content | safe }}
        </main>
        <footer>

            {% if page_index %}
                {% set prev = page_index - 1%}
                <a id="prev-page-fixed-arrow" href="{{url_for('read_ebook', ebook_name=page_title, page_index=prev) }}">&xlarr;</a>
            {% endif %}

            {% if page_index < page_count - 1 %}
                {% set next = page_index + 1 %}
                <a id="next-page-fixed-arrow" href="{{url_for('read_ebook', ebook_name=page_title, page_index=next) }}">&xrarr;</a>
            {% endif %}
            
            {#
                <ul class="pages-navigation">
                    {% for p in range(limits[0], limits[1]) %}
                        {% set current_page = 'current-page' if p == page_index else '' %}
                        <li> 
                            <a class='{{current_page}}' href="{{url_for('read_ebook', ebook_name=page_title, page_index=p) }}">
                                pag.{{p}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            #}

        </footer>
    {% endif %}

</body> 
{% endblock %}